@media only screen and (orientation: landscape) {

  /** header */

  .header-about {
    width: 60vw;
    height: 90vh;
  }

  .header-about-description {
    width: 50%;
    height: 70%;
  }

  .header-man {
    width: 40vw;
    height: 40vw;
  }

  .header-man-quotes {
    top: 55%;
    right: 10%;
  }
  
  /** section */
  
  .section-title {
    text-indent: 100px;
  }
  
  .section-projects {
    padding: 0 100px 0 100px;
  }
  
  .section-projects-board {
    display: grid;
    grid-template-columns: 586px 1fr;
  }
  
  .section-projects-board-frames-normal {
    width: 586px;
    height: 360px;
    box-shadow: 10px 10px #a3cfff;
  }
  
  .section-projects-board-frames .img-normal{
    width: 586px;
    height: 360px;
    margin-top: -80px;
  }
  
  .section-projects-board-frames-left-button-normal,
  .section-projects-board-frames-right-button-normal {
    width: 40px;
    height: 40px;
  }
  
  .section-projects-board-frames-left-button-normal {
    left: 7px;
    top: 160px;
  }
  
  .section-projects-board-frames-right-button-normal {
    left: 540px;
    top: 119px;
  }
  
  .section-projects-board-about {
    margin: 0 80px 0 80px;
  }
}

