@media only screen and (orientation: portrait) {
  
  /** header */

  header {
    flex-direction: column;
  }
  
  .header-about-description {
    margin: 0 90px 0 60px;
    box-shadow: 9px 9px #a3cfff;
  }
  
  .header-man {
    width: 1vw;
    height: 1vh;
  }

  /** section */
  
  .section-title {
    text-indent: 60px;
  }
  
  .section-projects {
    padding: 0 60px 0 60px;
  }
  
  .section-projects-board {
    display: block;
  }
  
  .section-projects-board-frames-normal {
    width: 586px;
    height: 360px;
    box-shadow: 9px 9px #a3cfff;
  }
  
  .section-projects-board-frames .img-normal {
    width: 586px;
    height: 360px;
    margin-top: -80px;
  }
  
  .section-projects-board-frames-left-button-normal,
  .section-projects-board-frames-right-button-normal {
    width: 40px;
    height: 40px;
  }
  
  .section-projects-board-frames-left-button-normal {
    left: 7px;
    top: 160px;
  }
  
  .section-projects-board-frames-right-button-normal {
    left: 540px;
    top: 119px;
  }
  
  .section-projects-board-about {
    margin-top: 40px;
  }
}

