* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.dark-bg-off {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.dark-bg-on {
    display: block;
    background-color: black;
    opacity: 50%;
    z-index: 9997;
}

/* >>> header-about */

header {
    display: grid;
}

.header-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.header-about-title {
    display: inline-block;
    margin: 48px auto 22px auto;
    font-size: 42px;
    letter-spacing: 8px;
}

.header-about-title b {
    font-size: 52px;
    text-decoration: underline;
}

.header-about-description {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2px;
    color: rgb(63, 63, 63);
    border-radius: 10px;
    border: 3px solid #56a9ff;
}

.header-about-description a {
    color: rgb(63, 63, 63);
    font-weight: bold;
    text-decoration: none;
}

.header-about-description a:hover,
.header-about-description a:active {
    color: #56a9ff;
}

.header-about-hire_me_button {
    display: block;
    width: 100px;
    padding: 10px 5px 10px 10px;
    font-weight: bold;
    letter-spacing: 4px;
    color: #56a9ff;
    border: 2px solid #56a9ff;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}

.header-about-hire_me_button:hover,
.header-about-hire_me_button:active {
    background-color: #56a9ff;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

.header-about-skills_labels {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.header-about-skills_labels p {
    padding: 12px;
    border-radius: 9px;
    font-size: 18px;
    letter-spacing: 3px;
    color: white;    
}

.header-about-skills_labels #skill-cpp {
    background-color: black;
}

.header-about-skills_labels #skill-js {
    background-color: rgb(95, 95, 95);
}

/* >>> header-figure */

.header-figure {
    background-image: url("res/photo.png");
    background-position: center;
    background-repeat: no-repeat;
}

.header-figure-job_position_label {
    display: inline-block;
    position: absolute;
    color: white;
}

.header-figure-job_position_label b {
    font-weight: normal;
}

.header-figure-feature_label {
    display: inline-block;
    position: absolute;
    background-color: black;
    padding: 16px;
    border-radius: 16px;
}

.header-figure-feature_label h1 {
    color: white;
}

.header-figure-feature_label p1 {
    color: white;
    font-size: 13px;
}

.header-figure-contact_me_button {
    padding: 8px 16px 8px 16px;
    display: inline-block;
    position: absolute;
    right: 1vw;
    top: 1vw;
    font-weight: bold;
    color: #56a9ff;
    background-color: white;
    border: 2px solid #56a9ff;
    border-radius: 10px;
    text-decoration: none;
}

.header-figure-contact_me_button:hover,
.header-figure-contact_me_button:active {
    background-color: #56a9ff;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

/* section */

.section-title {
    display: block;
    margin-top: 200px;
    font-size: 36px;
}

/* >>> section-projects */

.section-projects-board {
    margin-top: 100px;
}

.section-projects-board-frames {
    display: block;
}

.section-projects-board-frames img{
    position: absolute;
    background-color: white;
}

.section-projects-board-frames-normal {
    border-radius: 10px;
    border: 3px solid #56a9ff;
}

.section-projects-board-frames .img-normal{
    border-radius: 7px;
}

.section-projects-board-frames-left-button,
.section-projects-board-frames-right-button {
    box-shadow: 0px 0px 5px 0px rgb(63, 63, 63);
    border-radius: 20px;
    opacity: 60%;
    background-repeat: no-repeat;
    z-index: 999;
}

.section-projects-board-frames-left-button {
    background-image: url("res/left-arrow.png");
}

.section-projects-board-frames-right-button {
    background-image: url("res/right-arrow.png");
}

.section-projects-board-frames-left-button:hover,
.section-projects-board-frames-right-button:hover {
    opacity: 80%;
}

.section-projects-board-frames-left-button:active,
.section-projects-board-frames-right-button:active {
    opacity: 100%;
}

.section-projects-board-frames-left-button-normal,
.section-projects-board-frames-right-button-normal {
    position: relative;
    background-size: 100% 100%;
}

.section-projects-board-about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(63, 63, 63);
    font-size: 18px;
    letter-spacing: 2px;
}

.section-projects-board-about a {
    color: rgb(63, 63, 63);
    text-decoration: none;
    font-weight: bold;
}

.section-projects-board-about a:hover,
.section-projects-board-about a:active {
    color: #56a9ff;
}

/* >>> section-projects-board-enlarge */

.section-projects-board-frames-enlarge {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 75vw;
    height: 44.117vw;
    margin-left: -37.5vw;
    margin-top: -22.05vw;
    z-index: 9998;
    border-radius: 1.1vw;
    border: 0.3vw solid #56a9ff;
    box-shadow: 1vw 1vw #a3cfff;
}

.section-projects-board-frames-enlarge .img-enlarge {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.9vw;
}

.section-projects-board-frames-left-button-enlarge,
.section-projects-board-frames-right-button-enlarge {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    width: 3.5vw;
    height: 3.5vw;
    background-size: 100% 100%;
    border-radius: 50%;
}

.section-projects-board-frames-enlarge .img-normal,
.section-projects-board-frames-left-button-normal,
.section-projects-board-frames-right-button-normal,
.section-projects-board-frames-enlarge .img-enlarge,
.section-projects-board-frames-left-button-enlarge,
.section-projects-board-frames-right-button-enlarge {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.section-projects-board-frames-left-button-enlarge {
    margin-left: -36vw;
}

.section-projects-board-frames-right-button-enlarge {
    margin-left: 33.3vw;
}

.section-projects-board-about-enlarge {
    display: none;
}

/* footer */

.footer-social_web {
    margin-top: 50px;
    height: 200px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-social_web-links {
    display: flex;
    gap: 70px;
    justify-content: center;
}