* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    /* designing */
    /* border: 1px solid black; */
}

/***********/
/* DESKTOP */
/***********/

/* >>> header-about */

header {
    display: grid;
    grid-template-columns: 1fr 36vw;
}

.header-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.header-about-title {
    display: inline-block;
    margin: 48px auto 22px auto;
    font-size: 2.5rem;
    letter-spacing: 8px;
}

.header-about-title b {
    font-size: 3rem;
    text-decoration: underline;
}

.header-about-description {
    padding: 20px;
    width: 700px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2px;
    color: rgb(63, 63, 63);
    border: 3px solid #56a9ff;
    border-radius: 10px;
    box-shadow: 10px 10px #a3cfff;
}

.header-about-description a {
    color: rgb(63, 63, 63);
    font-weight: bold;
    text-decoration: none;
}

.header-about-description a:hover,
.header-about-description a:active {
    color: #56a9ff;
}

.header-about-hire_me_button {
    display: block;
    width: 81px;
    padding: 8px 10px 8px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #56a9ff;
    border: 2px solid #56a9ff;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
}

.header-about-hire_me_button:hover,
.header-about-hire_me_button:active {
    background-color: #56a9ff;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

.header-about-skills_labels {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.header-about-skills_labels p {
    padding: 8px;
    border-radius: 6px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;    
}

.header-about-skills_labels #skill-cpp {
    background-color: black;
}

.header-about-skills_labels #skill-js {
    background-color: rgb(95, 95, 95);
}

/* >>> header-figure */

.header-figure {
    background-image: url("res/photo.png");
    background-position: center;
    background-size: 36vw 36vw;
    height: 36vw;
    width: 36vw;
}

.header-figure-feature_label {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 32%;
    background-color: black;
    padding: 16px;
    border-radius: 16px;
}

.header-figure-feature_label h1 {
    color: white;
}

.header-figure-feature_label p1 {
    font-size: 0.8rem;
    color: white;
}

.header-figure-contact_me_button {
    padding: 8px 16px 8px 16px;
    display: inline-block;
    position: absolute;
    right: 1%;
    top: 2%;
    font-weight: bold;
    color: #56a9ff;
    background-color: white;
    border: 2px solid #56a9ff;
    border-radius: 10px;
    text-decoration: none;
}

.header-figure-contact_me_button:hover,
.header-figure-contact_me_button:active {
    background-color: #56a9ff;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

/* section */

.section-title {
    display: block;
    margin-top: 20px;
    font-size: 2rem;
    text-indent: 100px;
}

.section-projects {
    padding: 0 100px 0 100px;
}

.section-projects-board {
    height: 420px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.section-projects-board-frame {
    width: 720px;
    height: 360px;
    border: 3px solid #56a9ff;
    border-radius: 10px;
    box-shadow: 10px 10px #a3cfff;
}

.section-projects-board-left-button,
.section-projects-board-right-button {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgb(63, 63, 63);
    border-radius: 20px;
}

.section-projects-board-right-button {
    left: 650px;
}

.section-projects-board-description {
    width: 800px;
    padding: 60px;
    color: rgb(63, 63, 63);
    font-size: 1.1rem;
    letter-spacing: 2px;
}

.section-projects-board-description a {
    color: rgb(63, 63, 63);
    text-decoration: none;
    font-weight: bold;
}

.section-projects-board-description a:hover,
.section-projects-board-description a:active {
    color: #56a9ff;
}

/* footer */

.footer-social_web {
    height: 200px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-social_web-links {
    display: flex;
    gap: 70px;
    justify-content: center;
}