@media only screen and (max-width: 1050px) {

/* >>> header */

.header-about-title {
    margin: 65vw auto 0 auto;
    font-size: 32px;
    letter-spacing: 6px;
}

.header-about-title b {
    font-size: 42px;
}

.header-about-description {
    padding: 1.8vw;
    margin: 0 7vw 0 6vw;
}

.header-figure {
    background-size: 60vw 60vw;
    background-position: 100% 0%;
}

.header-figure-job_position_label {
    top: 18vw;
    left: 59.7vw;
    font-size: 3vw;
    letter-spacing: 1vw;
}

.header-figure-job_position_label b {
    font-size: 4.5vw;
}

.header-figure-job_position_label-engineer_word {
    text-indent: 10vw;
}

@media only screen and (max-width: 750px) {

    .header-figure-contact_me_button {
        padding: 6px 12px 6px 12px;
        font-size: 12px;
        border: 1.5px solid #56a9ff;
        border-radius: 8px;
    }
    
    .header-figure-feature_label {
        top: 43vw;
        right: 51vw;
        font-size: 12px;
        padding: 12px;
        border-radius: 12px;
    }
    
    .header-figure-feature_label p1 {
        font-size: 10px;
    }
}

@media only screen and (min-width: 751px) {

    .header-figure-feature_label {
        top: 43vw;
        right: 51vw;
        font-size: 2vw;
        padding: 1.5vw;
        border-radius: 1.5vw;
    }

    .header-figure-feature_label p1 {
        font-size: 1.6vw;
    }
}

/* >>> section */

.section-projects-board {
    display: flex;
    flex-direction: column;
}

/* very small */
@media only screen and (max-width: 650px) {
    
    .header-about-description {
        box-shadow: 7px 7px #a3cfff;
    }

    .section-title {
        text-indent: 10px;
    }
    
    .section-projects {
        padding: 0 10px 0 10px;
        min-width: 85.1vw;
    }

    .section-projects-board {
        align-items: center;
    }

    .section-projects-board-frames-normal {
        width: 85.1vw;
        height: 52.4vw;
        box-shadow: 7px 7px #a3cfff;
    }
    
    .section-projects-board-frames .img-normal{
        width: 85.1vw;
        height: 52.4vw;
        margin-top: -72px;
    }

    .section-projects-board-frames-left-button-normal,
    .section-projects-board-frames-right-button-normal {
        width: 36px;
        height: 36px;
    }
    
    .section-projects-board-frames-left-button-normal {
        left: 1vw;
        top: calc(50% - 18px);
    }

    .section-projects-board-frames-right-button-normal {
        left: 90%;
        top: calc(50% - 54px);
    }

    .section-projects-board-about {
        align-items: center;
        padding: 0 20px 0 20px;
    }
    
    .footer-social_web-links {
        gap: 50px;
    }

    .footer-social_web-links a img {
        width: 40px;
    }
}

/* normal small */
@media only screen and (min-width: 651px) {

    .header-about-description {
        box-shadow: 8px 8px #a3cfff;
    }

    .section-title {
        text-indent: 40px;
    }
    
    .section-projects {
        padding: 0 40px 0 40px;
        min-width: 521px;
    }

    .section-projects-board-frames-normal {
        width: 521px;
        height: 320px;
        box-shadow: 8px 8px #a3cfff;
    }
    
    .section-projects-board-frames .img-normal{
        width: 521px;
        height: 320px;
        margin-top: -76px;
    }

    .section-projects-board-frames-left-button-normal,
    .section-projects-board-frames-right-button-normal {
        width: 38px;
        height: 38px;
    }
    
    .section-projects-board-frames-left-button-normal {
        right: -7px;
        bottom: -146px;
    }
    
    .section-projects-board-frames-right-button-normal {
        left: 475px;
        top: 108px;
    }
}

.section-projects-board-about {
    margin-top: 40px;
}
}